# For the main branch
/main/ @Sivakrishna3a @sivakrishna3a6 @ninjawomenwhocode

# For the development branch
/development/ @Sivakrishna3a @sivakrishna3a6 @ninjawomenwhocode

# For the feature branch
/development/features/ @Sivakrishna3a @sivakrishna3a6 @ninjawomenwhocode
